<article class="armorProperties">
    <div class="armorProtection oneLineInfo">
        <div class="material">
            <h2>{{ localize "wjdr2.label.armor.material" }}</h2>
            <select name="data.material">
                {{#select data.data.material }}
                {{#each config.armorMaterial as |name type| }}
                    <option value="{{type}}">{{ localize name }}</option>
                {{/each }}
                {{/select }}
            </select>
        </div>
        <div class="level">
            <h2>{{ localize "wjdr2.label.armor.level" }}</h2>
            {{ localize data.data.categoryLabel }}
        </div>
        <div class="protection">
            <h2>{{ localize "wjdr2.label.armor.defense" }}</h2>
            <input type="text" name="data.protectionValue" value="{{data.data.protectionValue}}" data-dtype="Number" disabled/>
        </div>
    </div>
    <div class="coveredZones">
        <h2>{{ localize "wjdr2.label.armor.coveredZones" }}</h2>
        <select name="data.protectedZones">
            {{#select data.data.protectedZones }}
            {{#each config.damageLocation as |name type| }}
                <option value="{{type}}">{{ localize name }}</option>
            {{/each }}
            {{/select }}
        </select>
    </div>
</article>