<div>
    <div class="isAdvanced">
        <input name="data.advanced" type="checkbox" {{checked data.data.advanced}} data-dtype="Boolean" />
        <label for="data.advanced" class="resource-label">{{ localize "wjdr2.items.career.isAdvancedLabel" }}</label>
    </div>
    <article class="description">
        {{> "systems/wjdr2/templates/items/parts/description.html" }}
    </article>
    <article class="toCareer">
        <h2>{{ localize "wjdr2.items.career.toCareerLabel" }}</h2>
    </article>
</div>