<div>
    <table>
        <tr>
          <th>{{ localize "wjdr2.actors.characteristics.ws" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.bs" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.s" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.t" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.ag" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.int" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.wp" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.fel" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.a" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.w" }}</th>
          <th>{{ localize "wjdr2.actors.characteristics.mag" }}</th>
        </tr>
        <tr>
          <td><input type="text" name="data.profile.ws" value="{{data.data.profile.ws}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.bs" value="{{data.data.profile.bs}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.s" value="{{data.data.profile.s}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.t" value="{{data.data.profile.t}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.ag" value="{{data.data.profile.ag}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.int" value="{{data.data.profile.int}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.wp" value="{{data.data.profile.wp}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.fel" value="{{data.data.profile.fel}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.a" value="{{data.data.profile.a}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.w" value="{{data.data.profile.w}}" data-dtype="Number" /></td>
          <td><input type="text" name="data.profile.mag" value="{{data.data.profile.mag}}" data-dtype="Number" /></td>
        </tr>
      </table>
    
      <article class="skills">
        <h2>{{ localize "TYPES.Item.TypeSkill" }}s</h2>
      </article>
      <article class="traits">
        <h2>{{ localize "TYPES.Item.TypeTalent" }}s</h2>
      </article>
</div>