<div class="ruleElements">
    <article>
        <table>
            <tr>
                <th>{{ localize "wjdr2.items.label.reference" }}</th>
                <th>{{ localize "wjdr2.items.label.itemType" }}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.reference">
                        {{#select data.data.reference}}
                        {{#each config.referenceBooks as |name type|}}
                            <option value="{{type}}">{{ localize name }}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.ruleType">
                        {{#select data.data.ruleType}}
                        {{#each config.ruleType as |name type|}}
                            <option value="{{type}}">{{ localize name }}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>    
        </table>
    </article>
</div>