<article id="weaponDescriptionSection">
    <h2>{{ localize "wjdr2.label.weapon" }}</h2>
    <h3>{{ localize "wjdr2.label.weaponStats" }}</h3>
    <table>
        <tr>
            <th>{{ localize "wjdr2.label.group" }}</th>
            <th>{{ localize "wjdr2.label.twoHand" }}</th>
            <th>{{ localize "wjdr2.label.damage" }}</th>
        </tr>	
        <tr>
            <td>
                <select name="data.group">
                    {{#select data.data.group}}
                    {{#each config.weaponGroups as |name type| }}
                        <option value="{{type}}">{{localize name }}</option>
                    {{/each }}
                    {{/select }}
                </select>
            </td>
            <td><input name="data.twoHand" type="checkbox" {{checked data.data.twoHand}} data-dtype="Boolean"/></td>
            <td><input name="data.damage" type="text" value="{{data.data.damage}}"/></td>
        </tr>
    </table>
    
    <h3>{{ localize "wjdr2.label.range" }}</h3>
    <table>
        <tr>
            <th>{{ localize "wjdr2.label.isCloseCombat" }}</th>
            <th>{{ localize "wjdr2.label.range" }}</th>
            <th>{{ localize "wjdr2.label.isOnlyCloseRange" }}</th>
        </tr>
        <tr>
            <td><input name="data.closeCombat" type="checkbox" {{checked data.data.closeCombat}} data-dtype="Boolean"/></td>
            <td><input name="data.range" type="text" value="{{data.data.range}}"/></td>
            <td><input name="data.onlyCloseRange" type="checkbox" {{checked data.data.onlyCloseRange}} data-dtype="Boolean"/></td>
        </tr>
    </table>
    <h3>
        {{localize "wjdr2.label.attributes" }}
        <a class="attributes-selector"><i class="fas fa-edit"></i></a>
    </h3>
    <ul class="attributes-list">
        {{#each data.data.attributes as |attribute id|}}
            <li class="{{id}} tag">{{ localize attribute }}</li>
        {{/each}}
    </ul>
</article>