<form class="actorSheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        </h1>
    </header>

    <section class="rollableAttributesSection">
        {{#each data.data.attributes.rollable as |attribute id|}}
            <button name="button_{{id}}" class="rollableAttributeButton">{{localize attribute.label}} : {{attribute.value}}</button>
        {{/each}}
    </section>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="abilities">{{ localize "wjdr2.actors.navLabel.abilities" }}</a>
        <a class="item" data-tab="combat">{{ localize "wjdr2.actors.navLabel.combat" }}</a>
        <a class="item" data-tab="inventory">{{ localize "wjdr2.actors.navLabel.inventory" }}</a>
        <a class="item" data-tab="spells">{{ localize "wjdr2.actors.navLabel.spells" }}</a>
        <a class="item" data-tab="afflictions">{{ localize "wjdr2.actors.navLabel.afflictions" }}</a>
        <a class="item" data-tab="description">{{ localize "wjdr2.actors.navLabel.description" }}</a>
        <a class="item" data-tab="upgrade">{{ localize "wjdr2.actors.navLabel.upgrade" }}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/wjdr2/templates/actors/parts/abilities.html" }}
        </div>

        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/wjdr2/templates/actors/parts/combat.html" }}
        </div>

        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/wjdr2/templates/actors/parts/inventory.html" }}
        </div>

        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/wjdr2/templates/actors/parts/spells.html" }}
        </div>

        <div class="tab afflictions" data-group="primary" data-tab="afflictions">
            {{> "systems/wjdr2/templates/actors/parts/afflictions.html" }}
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{> "systems/wjdr2/templates/actors/parts/description.html" }}
        </div>

        <div class="tab upgrade" data-group="primary" data-tab="upgrade">
            {{> "systems/wjdr2/templates/actors/parts/upgrade.html" }}
        </div>
    </section>
</form>