<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="itemSheet">
        <nav class="sheet-tabs tabs" data-group="primary">
			<a class="item active" data-tab="armor-property">{{ localize "wjdr2.label.armor.prop" }}</a>
			<a class="item" data-tab="common-item-property">{{ localize "wjdr2.label.commonValues" }}</a>
		</nav>

		<section class="sheet-body">
			<div class="tab armor-property" data-group="primary" data-tab="armor-property">
				{{> "systems/wjdr2/templates/items/parts/armor-properties.html" }}
			</div>
			<div class="tab common-item-property" data-group="primary" data-tab="common-item-property">
				{{> "systems/wjdr2/templates/items/parts/item-properties.html" }}
			</div>
		</section>
    </section>
</form>