<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="itemSheet">
        <article id="skillDescriptionSection">
            <table>
                <tr>
                    <th>{{ localize "wjdr2.items.skill.label.characteristic" }}</th>
                    <th>{{ localize "wjdr2.items.skill.label.isAdvanced" }}</th>
                </tr>
                <tr>
                    <td>
                        <select name="data.characteristic">
                            {{#select data.characteristic }}
                            {{#each config.rollableCharacteristic as |name type| }}
                                <option value="{{type}}">{{ localize name }}</option>
                            {{/each }}
                            {{/select }}
                        </select>
                    </td>
                    <td><input name="data.isAdvanced" type="checkbox" {{checked data.isAdvanced}} data-dtype="Boolean"/></td>
                </tr>
            </table>
        </article>
        
        {{> "systems/wjdr2/templates/items/parts/description.html" }}
    </section>
</form>