<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <section class="itemSheet">
        <nav class="sheet-tabs tabs" data-group="primary">
			<a class="item active" data-tab="talent-description">{{ localize "wjdr2.label.description" }}</a>
			<a class="item" data-tab="talent-property">{{ localize "wjdr2.label.talent.rule" }}</a>
		</nav>

		<section class="sheet-body">
			<div class="tab talent-description" data-group="primary" data-tab="talent-description">
				{{> "systems/wjdr2/templates/items/parts/rule-elements.html" }}
                {{> "systems/wjdr2/templates/items/parts/description.html" }}
			</div>
			<div class="tab talent-property" data-group="primary" data-tab="talent-property">
				{{> "systems/wjdr2/templates/items/parts/talent-properties.html" }}
			</div>
		</section>
    </section>
</form>