<div class="characterDescription">
    <div class="basicInfo">
        <article class="characterInfo basicInfoItem">
            <h2>{{ localize "wjdr2.label.basicInfo" }}</h2>
            <div class="oneLineInfo">
                <label for="data.race" class="resource-label">{{ localize "wjdr2.label.raceLabel" }}</label>
                <select name="data.race" class="race">
                    {{#select data.data.race }}
                    {{#each config.race as |name type| }}
                        <option value="{{type}}">{{ localize name }}</option>
                    {{/each }}
                    {{/select }}
                </select>
            </div>
            <div class="oneLineInfo">
                <label for="data.gender" class="resource-label">{{ localize "wjdr2.label.genderLabel" }}</label>
                <select name="data.gender" class="gender">
                    {{#select data.data.gender }}
                    {{#each config.gender as |name type| }}
                        <option value="{{type}}">{{ localize name }}</option>
                    {{/each }}
                    {{/select }}
                </select>
            </div>
            <div class="oneLineInfo">
                <label for="data.age" class="resource-label">{{ localize "wjdr2.label.age" }}</label>
                <input type="text" name="data.age" value="{{data.data.age}}" data-dtype="Number" />
                <label for="data.height" class="resource-label">{{ localize "wjdr2.label.height" }}</label>
                <input type="text" name="data.height" value="{{data.data.height}}" data-dtype="Number" />
                <label for="data.weight" class="resource-label">{{ localize "wjdr2.label.weight" }}</label>
                <input type="text" name="data.weight" value="{{data.data.weight}}" data-dtype="Number" />
            </div>
            <div class="oneLineInfo">
                <label for="data.starSign" class="resource-label">{{ localize "wjdr2.label.starSign" }}</label>
                <select name="data.starSign" class="starSign">
                    {{#select data.data.starSign }}
                    {{#each config.starSign as |name type| }}
                        <option value="{{type}}">{{ localize name }}</option>
                    {{/each }}
                    {{/select }}
                </select>
            </div>
        </article>
        <article class="physicalInfo basicInfoItem">
            <h2>{{ localize "wjdr2.label.physicalInfo" }}</h2>
            <table>
                <tr>
                    <th>{{ localize "wjdr2.label.eyeColor" }}</th>
                    <th>{{ localize "wjdr2.label.hairColor" }}</th>
                </tr>
                <tr>
                    <td>
                        <select name="data.eyeColor" class="eyeColor">
                            {{#select data.data.eyeColor }}
                            {{#each config.eye as |name type| }}
                                <option value="{{type}}">{{ localize name }}</option>
                            {{/each }}
                            {{/select }}
                        </select>
                    </td>
                    <td>
                        <select name="data.hairColor" class="hairColor">
                            {{#select data.data.hairColor }}
                            {{#each config.hair as |name type| }}
                                <option value="{{type}}">{{ localize name }}</option>
                            {{/each }}
                            {{/select }}
                        </select>
                    </td>
                </tr>
            </table>
            <h3>{{ localize "wjdr2.label.distinctiveSignLabel" }}</h3>
            {{editor content=data.data.specialTrait target="data.specialTrait" button=true owner=owner editable="editable" }}
        </article>
    </div>
    <article class="biography">
        <h2>{{ localize "wjdr2.label.background" }}</h2>
        <h3>{{ localize "wjdr2.label.origin" }}</h3>
        <div class="oneLineInfo">
            <!--PROVENANCE, FAMILLE-->
            <label for="data.placeOfOrigin" class="resource-label">{{ localize "wjdr2.label.placeOfBirth"}}</label>
            <input type="text" name="data.placeOfOrigin" value="{{data.data.placeOfOrigin}}" data-dtype="Text" class="shrinked"/>
            <label for="data.numberOfBrother" class="resource-label">{{ localize "wjdr2.label.numberOfSiblings" }}</label>
            <input type="text" name="data.numberOfBrother" value="{{data.data.numberOfBrother}}" data-dtype="Number" class="numberOfSiblings"/>
            <label for="data.numberOfSister" class="resource-label">/</label>
            <input type="text" name="data.numberOfSister" value="{{data.data.numberOfSister}}" data-dtype="Number" class="numberOfSiblings"/>
        </div>
        <h3>{{ localize "wjdr2.label.biography" }}</h3>
        {{editor content=data.data.biography target="data.biography" button=true owner=owner editable="editable" }}
    </article>
</div>
