<div>
    <h2>{{ localize "wjdr2.label.maxEnc" }} : {{ data.data.encumbrance }} / {{ data.data.maxEncumbrance }}</h2>
    <h2>{{ localize "wjdr2.label.purse" }}</h2>
    <table>
        <tr>
            <th>{{ localize "wjdr2.label.gc" }}</th>
            <th>{{ localize "wjdr2.label.s" }}</th>
            <th>{{ localize "wjdr2.label.p" }}</th>
        </tr>
        <tr>
            <td><input name="data.money.goldCrown" type="text" value="{{data.data.money.goldCrown}}" data-dtype="Number" /></td>
            <td><input name="data.money.silverShilling" type="text" value="{{data.data.money.silverShilling}}" data-dtype="Number" /></td> 
            <td><input name="data.money.brassPennies" type="text" value="{{data.data.money.brassPennies}}" data-dtype="Number" /></td>
        </tr>
    </table>

    <article class="items">
        <div class="item-list-header">
            <h2>{{ localize "ITEM.TypeItem" }}s</h2>
            <div class="item-list-controller">
                <a class="item-list-add"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        
        <ul>
            {{#each items as |item id|}}
            <li class="item flexrow" data-item-id={{item._id}}>
                <span class="item-name">{{item.name}}</span>
                <div class="item-controller">
                    <a class="item-delete"><i class="fas fa-trash-alt"></i></a>    
                </div>
            </li>
            {{/each}}
        </ul>
    </article>
</div>