.sheet {
    form {
        display: flex;
        flex-direction: column;

        table {
            tr {
                td {
                    text-align: center;
                    select {
                        width : 100%;
                    }
                }
            }
        }

        .editor {
            min-height: 50px;
            height: 100%;
        }
    }
}