.sheet {
    .itemSheet {
        height: 100%;
        display: flex;
        flex-direction: column;

        .itemDescriptionSection {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .editor {
                height: 100%;
            }
        }

        .mutationVariantsDescription {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .editor {
                height: 100%;
            }
        }

        .careerElements{
            .tableRow {
                display: flex;
                flex-direction: row;
    
                article {
                    border: 1px solid black;
                    padding: 5px;
                    flex-grow: 1;
                }
            }
        }

        
    }
    
}