.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .actorSheet .rollableAttributes {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: stretch center;
  align-content: center space-evenly;
  justify-content: center;
}
.sheet .actorSheet .rollableAttributes .rollableAttribute {
  flex-basis: auto;
  border-radius: 10px;
}
.sheet .itemSheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet table tr td {
  text-align: center;
}
.sheet .itemSheet table tr td select {
  width: 100%;
}
.sheet .itemSheet .itemDescriptionSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .itemDescriptionSection .editor {
  height: 100%;
}
.sheet .itemSheet .mutationVariantsDescription {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .mutationVariantsDescription .editor {
  height: 100%;
}
