.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet form table tr td {
  text-align: center;
}
.sheet form table tr td select {
  width: 100%;
}
.sheet form .editor {
  min-height: 50px;
  height: 100%;
}
.sheet form .oneLineInfo {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  column-gap: 10px;
}
.sheet .itemSheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .itemDescriptionSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .itemDescriptionSection .editor {
  height: 100%;
}
.sheet .itemSheet .mutationVariantsDescription {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .mutationVariantsDescription .editor {
  height: 100%;
}
.sheet .actorSheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .actorSheet .rollableAttributesSection {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: stretch center;
  align-content: center space-evenly;
  justify-content: center;
}
.sheet .actorSheet .rollableAttributesSection .rollableAttributeButton {
  flex-basis: auto;
  border-radius: 50%;
}
.sheet .actorSheet .characterDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.sheet .actorSheet .characterDescription h2 {
  text-align: center;
}
.sheet .actorSheet .characterDescription .basicInfo {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
}
.sheet .actorSheet .characterDescription .basicInfo .basicInfoItem {
  border: 1px solid black;
  flex-basis: 100%;
  padding: 5px;
}
.sheet .actorSheet .characterDescription .biography {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
}
.sheet .actorSheet .characterDescription .biography .editor {
  height: 100%;
}
.sheet .actorSheet .characterDescription .oneLineInfo select {
  width: 100%;
}
.sheet .actorSheet .characterDescription .oneLineInfo .shrinked {
  width: 50%;
}
.sheet .actorSheet .characterDescription .oneLineInfo .numberOfSiblings {
  width: 30px;
}
