.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet form .editor {
  min-height: 50px;
}
.sheet .itemSheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet table tr td {
  text-align: center;
}
.sheet .itemSheet table tr td select {
  width: 100%;
}
.sheet .itemSheet .itemDescriptionSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .itemDescriptionSection .editor {
  height: 100%;
}
.sheet .itemSheet .mutationVariantsDescription {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .itemSheet .mutationVariantsDescription .editor {
  height: 100%;
}
.sheet .actorSheet {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .actorSheet .rollableAttributesSection {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: stretch center;
  align-content: center space-evenly;
  justify-content: center;
}
.sheet .actorSheet .rollableAttributesSection .rollableAttributeButton {
  flex-basis: auto;
  border-radius: 50%;
}
.sheet .actorSheet .eyeColor {
  width: 100%;
}
.sheet .actorSheet .hairColor {
  width: 100%;
}
.sheet .actorSheet .biography {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sheet .actorSheet .biography .editor {
  height: 100%;
}
